* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center; 
  background-image: url(../img/pag.jpg);
}

.formulario-venta {
  width: 700px;
  background: #571215;
  padding: 50px;
  margin: auto;
  margin-top: 80px;
  border-radius: 4px;
  font-family: 'calibri';
  color: white;
  box-shadow: 7px 13px 37px #000;
}

.formulario-venta h4 {
  font-size: 22px;
  margin-bottom: 20px;
}

.controls {
  width: 100%;
  background: #dbd5d5;
  padding:10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #c51f1f;
  font-family: 'calibri';
  font-size: 18px;
  color: rgb(0, 0, 0);
}

.formulario-venta p {
  height: 40px;
  text-align: center;
  font-size: 18px;
  line-height: 40px;
}

.formulario-venta a {
  color: white;
  text-decoration: none;
}

.formulario-venta a:hover {
  color: white;
  text-decoration: underline;
}

.formulario-venta .botons {
  width: 100%;
  background: #000000;
  border: none;
  padding: 12px;
  color: white;
  margin: 16px 0;
  font-size: 16px;
}