* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center; 
    background-image: url(../img/pag.jpg);
  }
  

.grid {
display: grid;
grid-template-columns: auto auto auto auto;
grid-template-rows: auto auto;

}


.c1 {
  grid-column: 1/8;
  width: 1000px;
  background: white;
  padding: 20px;
  margin: auto;
  margin-top: 50px;
  border-radius: 20px;
  border: 1px solid black;
  font-family: 'calibri';
  color: rgb(19, 18, 18);
  box-shadow: 7px 13px 37px #000;
}

.c2 {
grid-column: 2/3;
width: 200px;
height: 200px;
justify-content: center;
border: 1px solid black;
margin: 15px;
margin-left: 175px;
background-color: red ;
}

.c3 {
grid-column: 3/4;
width: 200px;
height: 200px;
justify-content: center;
border: 1px solid black;
margin: 15px; 

background-color: red ;
}

 .c4 {
grid-column: 4/5;
width: 200px;
height: 200px;
justify-content: center;
border: 1px solid black;
margin: 15px; 

background-color: red ;
}

.c5 {
  grid-column: 5/6;
  width: 200px;
  height: 200px;
  justify-content: center;
  border: 1px solid black;
  margin: 15px; 
  
  background-color: red ;
  }

.fotos{
  display: grid;
  grid-template-columns: auto auto auto auto;
}
.nombres{
  font-size: larger;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 5px;
  border-radius: 5%;
  
}

img {
  border-radius: 50%;
}
#title{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 2em;
  font-style: italic;
}