{% extends './base.html' %}

{% block title %} Noticias {% endblock %}

{% block body %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/noticias.css') }}">

<body>
    <div class="grid-container">
        <div class="grid-item-izquier"><font size="2" face="time new romans"> 
            <h6 style="text-align: center;"><br><b>¿Porque debes leer el clarin unefin?</b></h6>
                <p style="margin: 0;">El clarin unefin busca ser un portal informativo al alcance de todos los estudiantes
            de la Universidad Nacional Experimental de las Fuerzas armadas. Tenemos como sede principal el nucleo de Maracay, Aragua.</p>
            </font></div>
        <div class="grid-item"><font size="3" face="time new romans"> 
            <h2><center><b>Sucesos importantes</b></center></h2> 
                <p>Una de las noticias más relevantes fue la presentación del proyecto del nuevo
            Campus
            Universitario de la UNEFA en el estado Táchira, luego que el núcleo fuese atacado y quemado por
            grupos
            vandálicos resultando la pérdida total de la infraestructura que albergaba a más de 5300 alumnos de
            pregrado y 600 profesionales en ejercicio de postgrado.</p>
            <p>La Universidad Félix Adam (UNEFA), celebró su vigesimotercera graduación
                ordinaria y entregó a la sociedad dominicana 67 nuevos profesionales formados en modalidad semipresencial y
                virtual. Asi mismo,  La rectora de UNEFA, Nora Rubirosa, destacó la necesidad de competencias digitales para los nuevos
                profesionales y el rol que juega la universidad impulsando la formación en una dirección que
                armonice las necesidades de las personas, las empresas y la sociedad en general</p>
            </font></div>
        <div class="grid-item"><div class="imagen">
            <img src="static/img/chinos.png">
            </div></div>
        <div class="grid-item" style="text-align: center;"><img src="static/img/R.gif" style="width: 35%; margin: 10px;"></div>
        <div class="grid-item"><font size="3" face="time new roman">
            <p>La Decana del Núcleo Portuguesa, expresó que “es un honor para la UNEFA estar
                presente en la I Feria de Investigación, Desarrollo e Innovación de la FANB, es una experiencia
                dónde el compartir el conocimiento científico es el objetivo principal, abordando la
                transdiciplinariedad como vertiente principal en la Investigación”</p>
                <p>En los espacios del Salón de Usos Múltiples Federico Núñez Corona de la Universidad Nacional Experimental Politécnica de 
                    la Fuerza Armada Nacional Bolivariana (Unefa) se llevó a cabo la Jornada de Investigación Unefa 2022, en homenaje al G/B. Dr. Damián 
                    José Nieto Carrillo, este preevento se realizó en el marco del IV Congreso Internacional de Investigación, Postgrado y Extensión de nuestra 
                    Casa de Estudios.  La actividad fue organizada por el Núcleo Caracas y presidida por el Rector de la Unefa, M/G. Pascualino Angiolillo Fernández, 
                    el Vicerrector de Investigación Desarrollo e innovación, Dr. Miguel Álvarez Cádiz y el Decano del Núcleo, G/D. Gilberto Meneses, acompañado del personal 
                     administrativo, militar y estudiantil de la universidad. </p>
            </font></div>
        <div class="grid-item"><font size="2" face="time new roman">
            <p>El Auditorio Alí Primera de la (UNEFA), fue escenario propicio para  la inauguración de la cátedra de estudios “El Vietnam 
                de Ho Chi Minh y su Cultura”.La actividad contó con la participación del Embajador de la República Socialista de Vietnam, Le Viet Duyen, 
                acompañado del Rector de la Unefa,  y demás autoridades de nuestra Casa de Estudios</p>
                <p>Durante el acto se proyectó un vídeo del resumen histórico del proceso revolucionario en la Republica Socialista de Vietnam y reconocimiento a su líder
                    Ho Chi Minh por parte del presidente Hugo Chavez.</p>
                    <p> El Rector expresó sentirse orgulloso por este de inauguración de la cátedra de estudios “El Vietnam de Ho Chi Minh y su Cultura,” es impresionante ver la 
                        lealtad del pueblo vietnamita, la personalidad de un pueblo que sufrio de generacion en generacion. En el evento, se realizó una danza tradicional vietnamita 
                        denomina el “baile del sombrero” un icono implementado comúnmente por mujeres en los trabajos del campo desarrollado por la escuela de danza tradicional vietnamita.</p>
            </font></div>
        <div class="grid-item"></div>
        <div class="grid-item"><font size="3" face="time new roman">
            <p>Fortaleciendo alianzas con la Industria Farmacéutica FarmaSolidaria C.A y la Universidad Nacional Experimental Politécnica de la Fuerza Armada Nacional 
                Bolivariana (UNEFA), se dio inicio a los Estudios de Extensión en las Disciplinas de Farmacia. La actividad se desarrolló en el Auditórium Alí Primera de 
                esta sede educativa donde asistieron estudiantes que participarán en el Diplomado de Dispensación de Medicamentos y en el Curso de Fundamentos Farmacológicos 
                para auxiliares de Farmacia.</p>
            </font></div>
        <div class="grid-item"><font size="2" face="time new roman">
            <p> Por otra parte, el Embajador de la República Socialista de Vitnam, Le Viet Duyen, agradeció a todos los invitados 
                presentes por su afecto y admiración por Ho Chi Minh. Asimismo, “El Presidente Ho Chi Minh, será recordado como un sabio modelo de la 
            expectativa de fuerza y hermandad de todos estos luchadores que están hoy en día”, reseñó el Excelentísimo Embajador.</p>
                </font></div>
    </div>
</body>

</html>

{% endblock %}