{% extends './base.html' %} 

{% block title %} Usuario {% endblock %}

{% block body %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/formularioLogin.css') }}">
  <title>Usuario</title>
</head>
<body>
  <section class="formulario-Login">
    <h4>Usuario: {{session["usuario"]}}</h4>
      <form action="" method="post">
       
        <h3>Hola {{session["name"]}}</h3><br>
        <h3>Cedula de identidad: {{session["identificacion"]}}</h3><br>
        <h3>Correo: {{session["email"]}}</h3>



        
      <p><a href="{{ url_for('logout') }}">Salir</a></p>
    </form>
  </section>
</body>
</html>
{% endblock %}